.icon-ok {
    color: #5CB85C;
    background-color: #ffffff;
}

.icon-barrier {
    color: #f70404;
    background-color: #ffffff;
}

span.checkmark {

    background-color: #ffffff;
    border-bottom: 0;
    border-left: 0;
    border-top: 1px solid #ddd;
   

}

.matrix-table {
    border: none;
}

button {
    margin-right: 12px;
}

table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

td.none {
    font-style: italic;
    color:#C69A0A;    
}